[build]
  command = "npm run build"
  publish = "dist"
  environment = { VITE_API_URL = "https://ainlp-chatbot-backend.onrender.com" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
