[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  environment = { VITE_API_URL = "https://ainlp-chatbot-backend.onrender.com" }

[context.deploy-preview]
  environment = { VITE_API_URL = "https://ainlp-chatbot-backend.onrender.com" }
